# Python
__pycache__/
*.pyc
venv/
*.egg-info/

# OS-specific
.DS_Store

# Logs
*.log

# Project specific
/results/
/fine_tuned_model/
/orchestrator_adapter/checkpoint-*/
/persona_adapter/checkpoint-*/
/uploads/

# IDEs
.vscode/
.idea/
*.safetensors
